<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora Programacion V
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
      <ion-label class="value">
          {{value}}
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-label> Bienvenidos a la calculadora creada por:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Jorge Castillo y Steven Davila:</ion-label>
  </ion-item>
</ion-content>

 