<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/products"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Editar Producto
      </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="updateproduct()" [disabled]="!formProdutupdate.valid">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="formProdutupdate">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" 
                autocomplete
                autocorrect
                formControlName="pnombre"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Codigo</ion-label>
              <ion-input type="text" 
                autocomplete
                autocorrect
                formControlName="pcodigo"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input type="number" 
                autocomplete
                autocorrect
                formControlName="pcantidad"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Peso</ion-label>
              <ion-input type="number" 
                autocomplete
                autocorrect
                formControlName="ppeso"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row><ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Fecha de expiracion</ion-label>
              <ion-input type="text" 
                autocomplete
                autocorrect
                formControlName="pfecha_caducidad"
              >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Descripcion</ion-label>
              <ion-textarea 
                autocomplete
                autocorrect
                formControlName="pdescripcion"
              >
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!formProdutupdate.get('pdescripcion').valid &&
        formProdutupdate.touched">
          <ion-col size-sm="6" offset-sm="3">
            <p>La descripcion debe de ser mayor a 30 caracteres</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </form>
    
  </ion-content>
  