<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.nombre}}</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="deleteProduct()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    
   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding>{{product.descripcion}} </div>
  
</ion-content>

